* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background-color: rgb(230, 238, 232);
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  border: 5px solid white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 30px 5px rgba(100,69,245,0.2);

}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 4rem;
  background-color: rgb(85, 71, 245);
  color: white;
}

header > input {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 11rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(85, 71, 245);
  border: 2px solid white;
  padding: 0.5rem;
  
}

.btn {
  font-size: 1rem;
  padding: 1rem 2.4rem;
  border-radius: 5px;
  border: none;
  background-color:white;
}

.resultados {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  gap: 2rem;
  padding: 2rem ;
  background-color: rgb(242, 242, 242);

}

.tarjeta {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 5px;
}
 .tarjeta > h2 {
  font-size: 1.3rem;
  margin-bottom: .5rem;
 }